
/* TEAM PAGE STYLING (DRIVER PAGE STYLING WHEN ON A DRIVER) */
.team__name {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .team__name-logo {
    max-width: 300px;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }
  
  .team__info {
    margin: 2rem;
    padding: 1rem;
    background-color: var(--background-black);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }
  
  .team__info-heading {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  
  .team__info-text {
    text-align: justify;
    line-height: 1.6;
    margin: 1rem;
  }
  
  /* DRIVER CARD (AND TEAM WHEN ON A DRIVER PAGE) */
  .drivers {
    text-align: center;
    margin: 2rem 0;
  }
  
  .drivers__heading {
    margin-bottom: 1rem;
    color: var(--core-yellow);
  }
  
  .drivers__list {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .driver-card {
    display: flex;
    background-color: var(--secondary-black);
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }
  
  .driver-card__image {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }
  
  .driver-card__info {
    flex: 1;
    text-align: left;
  }
  
  .driver-card__name {
    font-size: 1rem;
    margin: 0;
  }




/* Tablet 768px - 1023px */
@media (max-width: 1023px) and (min-width: 768px) {
 
}




/* Mobile 480px - 767px */
@media (max-width: 767px) and (min-width: 480px) {
  .drivers__list {
    flex-direction: column; 
    align-items: center;
    gap: 1rem; 
  }

  .driver-card{
    width: 400px;
  }
}




/* Small Mobile 320px - 479px */
@media (max-width: 479px) {
  .drivers__list {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .driver-card {
    width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .driver-card__info {
    margin: 1rem;
    text-align: left;

  }

  .driver-card__name {
    text-align: center
  }

  .driver-card__image {
    margin-right: 0;
  }
}