/* NEWS GRID STYLING*/
.news__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;
}

.news__header {
  text-align: center;
  background-color: var(--alternative-black);
  color: var(--white);
  padding: 2rem;
}

.news__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--core-yellow);
}

.news__card {
  background-color: var(--core-black);
  color: var(--white);
  border-radius: 0.5rem;
  border: solid 4px var(--core-yellow);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  transition: background-color 0.3s ease;
}

.news__card:hover {
  background-color: var(--core-yellow);
  color: var(--core-black);
  .news__card-image {
    transform: scale(1.1);
  }
}

.news__card-container {
  overflow: hidden;
}

.news__card-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  transition: transform 0.3s ease;
}

.news__card-text {
  padding: 1rem;
}

.news__card-title {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
}

.news__card-description {
  font-size: 1rem;
  line-height: 1.5;
}

/* RESPONSIVE  */
@media (max-width: 1024px) {
  .news__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .news__grid {
    grid-template-columns: 1fr;
  }
}
