/* SHOP DROPDOWN */
.shop__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}

.shop__filter-dropdown {
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--core-white);
    background-color: var(--secondary-black);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shop__filter-dropdown:hover {
    background-color: var(--core-yellow);
    color: var(--core-black);
}

/* Focus styles for the dropdown */
.shop__filter-dropdown:focus {
    background-color: var(--core-yellow); /* Set focus background */
    color: var(--core-black); /* Contrasting text color */
    outline: none;
}



.shop__sorting span {
    cursor: pointer;
    color: var(--core-yellow);
    text-decoration: underline;
}

/* SHOP GRID */
.shop__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

/* SHOP ITEMS */
.shop__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--core-black);
    border: 3px solid var(--core-yellow);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: background-color 0.2s ease, color 0.2s ease;
    overflow: hidden;
    padding: 1rem;
}

.shop__item-price {
    transition: background-color 0.2s ease, color 0.2s ease;
}

.shop__item:hover {
    background-color: var(--core-yellow);
    color: var(--core-black);
        .shop__item-price {
            color: var(--core-black);
        }

}


.shop__item img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: #f4f4f9;
    box-shadow: 0 4px 8px var(--core-black);

}

.shop__item-details {
    text-align: center;
}

.shop__item-details h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.shop__item-details p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--core-white);
}

.shop__item h3 {
    margin: 0.5rem 0;
}

.shop__item p {
    margin: 0.5rem;
    font-size: 1rem;
    color: var(--core-white);
}
