/* TAB STYLE */
.standings__tabs {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.standings__tab {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--secondary-black);
    color: var(--core-white);
    cursor: pointer;
    font-size: 2rem;
    margin: 0 0.5rem;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.standings__tab--active {
    background-color: var(--core-yellow);
  color: var(--core-black);
}

.standings__tab:hover {
    background-color: var(--secondary-yellow);
    color: var(--core-black);
  
  }

/* STANDINGS TABLE STYLE */
.standings__grid .standings__table {
    width: 50%;
    margin: 2rem auto;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.standings__table th,
.standings__table td {
    border: 1px solid var(--core-white);
    padding: 0.75rem;
}

.standings__header-cell {
    background-color: var(--core-yellow);
    color: var(--core-black);
    font-weight: bold;
}

/* ALTERNATING COLOR*/
.standings__body-row:nth-child(odd) {
    background-color: var(--core-black);
}

.standings__body-row:nth-child(even) {
    background-color: var(--secondary-black);
}








/* Tablet 768px - 1023px */
@media (max-width: 1023px) and (min-width: 768px) {

}

/* Mobile 480px - 767px */
@media (max-width: 767px) and (min-width: 480px) {

}

/* Small Mobile 320px - 479px */
@media (max-width: 479px) {
 
}