/* TAB STYLE */
.tabs {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.tabs__button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--secondary-black);
  color: var(--core-white);
  cursor: pointer;
  font-size: 2rem;
  margin: 0 0.5rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.tabs__button--active {
  background-color: var(--core-yellow);
  color: var(--core-black);
}

.tabs__button:hover {
  background-color: var(--secondary-yellow);
  color: var(--core-black);

}
/* TAB STYLE */
.tabs {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.tabs__button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--secondary-black);
  color: var(--core-white);
  cursor: pointer;
  font-size: 2rem;
  margin: 0 0.5rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.tabs__button--active {
  background-color: var(--core-yellow);
  color: var(--core-black);
}

.tabs__button:hover {
  background-color: var(--secondary-yellow);
  color: var(--core-black);

}

/* FILTER STYLE */
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.filters__option {
  cursor: pointer;
  font-size: 1rem;
  color: var(--core-white);
  text-decoration: none;
  transition: color 0.2s ease;
}

.filters__option--active {
  color: var(--core-yellow);
  font-weight: bold;
  text-decoration: underline;
}

.filters__option:hover {
  color: var(--secondary-yellow);
}

/* TEAMS / DRIVER */
.teams-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-content: center;
}


.teams-grid__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--core-black);
  color: var(--core-white);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  text-align: left;
  overflow: hidden;
  text-decoration: none;
  border: solid 3px var(--core-yellow);
  transition: background-color 0.3s ease;
  margin: 1rem;
}

.teams-grid__item:hover {
  background-color: var(--core-yellow);
  color: var(--core-black);
  .teams-grid__item-info, .teams-grid__item-team {
    color: var(--core-black);
  }
}


.teams-grid__item-image {
  width: 8rem;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: 0 4px 8px black;
}

/* MIDDLE SECTION ON CARD */
.teams-grid__item-middle {
  flex: 1;
  margin-left: 1rem;
}

.teams-grid__item-title {
  margin: 0;
  font-size: 1rem;
}

.teams-grid__item-team {
  margin: 0.5rem 0 0;
  font-size: 0.9rem;
  color: var(--core-white);
}

/* RIGHT SECTION ON CARD */
.teams-grid__item-right {
  flex: 0 0 auto;
  text-align: right;
  margin-left: 1rem;
}

.teams-grid__item-info {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--core-white);
}

/* RESPONSIVE */


/* Tablet (768px - 1023px) */
@media (max-width: 1023px) and (min-width: 768px) {

}




/* Mobile (480px - 767px) */
@media (max-width: 767px) and (min-width: 480px) {
 
 
}

/* Small Mobile (320px - 479px) */
@media (max-width: 479px) {

  .teams-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teams-grid__item {
    flex-direction: column;
    text-align: center;
    width: 200px;
  }

  .teams-grid__item-middle {
    margin: 0.5rem 0;
  }

  .teams-grid__item-info {
    font-size: 0.8rem;
    text-align: left;
  }
}